
ExamenIB/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Roboto-Bold SDF - Surface.mat.meta
ExamenIB/Assets/TextMesh Pro/Examples & Extras/Resources/Fonts & Materials/Roboto-Bold SDF.asset
ExamenIB/Assets/TextMesh Pro/Examples & Extras/Resources/Sprite Assets.meta
ExamenIB/.idea/.idea.ExamenIB/.idea/encodings.xml
ExamenIB/.idea/.idea.ExamenIB/.idea/vcs.xml
ExamenIB/Assets/Materials.meta
/ExamenIB/Library
/ExamenIB/Temp
/ExamenIB/ProjectSettings
/ExamenIB/UserSettings/Layouts
/ExamenIB/UserSettings
/ExamenIB/Logs
/ExamenIB/obj
/ExamenIB/Packages
ExamenIB/Assembly-CSharp.csproj
ExamenIB/.idea/.idea.ExamenIB/.idea/indexLayout.xml
